<h2>Listado de Productos - Handlebars</h2>
{{#if products.length}}
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
    </tr>
  {{/each}}
</table>
{{else}}
<p>No existen productos</p>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
